<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="../public/css/stylegeneral.css" />
        <link rel="stylesheet" href="../public/css/portada.css" />
        <link rel="stylesheet" href="../public/css/footers.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&family=Vollkorn&display=swap"
            rel="stylesheet"
        />
        <link href="../public/css/swiffy-slider.min.css" rel="stylesheet" />
        <link
            href="https://unpkg.com/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
            rel="stylesheet"
        />
        <script
            src="https://unpkg.com/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"
            defer
        ></script>
        <title>Galeria</title>
    </head>

    <body>
        <header></header>

        <div class="ilustracion">
            <img class="elong" src="../public/images/Enlonga.jpg" alt="" />
            <h2 class="tituloelonga">¿Qué es la elongación?</h2>
            <p class="acion">
                La elongación o estiramiento es un tipo de ejercicio que se debe
                realizar en forma lenta, estable, precisa y continua. Es uno de
                los métodos más utilizados para devolverle al sistema muscular
                su capacidad de trabajo; es decir, su flexibilidad y
                contractilidad. <br />

                Se lleva a cabo a través de movimientos de flexión, extensión o
                rotación de - por ejemplo - la espalda, el cuello, las piernas,
                los brazos, la cadera, y también las manos y los pies. <br />

                Para evitar el dolor o sensaciones incómodas, hay que elongar
                con frecuencia, aumentando el máximo ángulo de extensión del
                músculo y el tendón. Como mencionan algunos profesionales de la
                kinesiología, es común ver, particularmente en jóvenes,
                dolencias musculares que se podrían evitar por medio de esta
                práctica.<br />
            </p>
        </div>

        <!-------------------CONTAINER------------------------------------>

        <div class="swiffy-slider">
            <ul class="slider-container">
                <li>
                    <img src="../public/images/a.jpeg" />
                </li>
                <li>
                    <img src="../public/images/d.jpeg" />
                </li>
                <li>
                    <img src="../public/images/f.jpeg" />
                </li>
                <li>
                    <img src="../public/images/c.jpeg" />
                </li>
            </ul>

            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>

            <div class="slider-indicators">
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>


<div class="video3">
            <video controls="50">
                <source src="../public/images/video3.mp4" type="video/mp4" />
                Tu navegador no soporta el elemento de video.
            </video>
        </div>







        <!-------------------------------------FOOTER---------------------------------------------------->

        <footer></footer>
        <script src="../layout.js"></script>
    </body>
</html>
