<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/stylegeneral.css">
  <link rel="stylesheet" href="../public/css/portada.css">
  <link rel="stylesheet" href="../public/css/footers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Vollkorn&display=swap" rel="stylesheet">
    <link href="../public/css/swiffy-slider.min.css" rel="stylesheet">
    <title>Galeria</title>
  </head>

  <body>
    <div class="titulo">
      <img class="img" src="../public/images/logo8time.png" alt="" />
      <h1 class="title">8 TIEMPOS - ESTUDIO DE DANZA</h1>
      <!--SOLO SE PUEDE UTILIZAR UNA VEZ, POR QUE SINO PENALIZA GOOGLE-->
    </div>

    <!-- SECCION DE NAVEGACION -->
    <nav class="navegacion">
      <li><a href="./index.html">Inicio</a></li>
      <li><a href="./galeria.html">Galeria</a></li>
      <li><a href="./historia.html">Historia</a></li>
      <li><a href="./login.html">Login</a></li>
      <li><a href=""></a></li>
    </nav>

  <div class="ilustracion">
      <img class="elong" src="../public/images/c.jpeg" alt="">
      <h2 class="tituloelonga">¿Qué es la elongación?</h2>
      <p class="acion">     
        La elongación o estiramiento es un tipo de ejercicio que se debe realizar en forma lenta, estable, precisa y continua. Es uno de los métodos más utilizados para devolverle al sistema muscular su capacidad de trabajo; es decir, su flexibilidad y contractilidad. <br>
        
        Se lleva a cabo a través de movimientos de flexión, extensión o rotación de - por ejemplo - la espalda, el cuello, las piernas, los brazos, la cadera, y también las manos y los pies.  <br>
        
        Para evitar el dolor o sensaciones incómodas, hay que elongar con frecuencia, aumentando el máximo ángulo de extensión del músculo y el tendón. Como mencionan algunos profesionales de la kinesiología, es común ver, particularmente en jóvenes, dolencias musculares que se podrían evitar por medio de esta práctica.<br> </p>
  </div>


  <!-------------------CONTAINER------------------------------------>
    
    <div class="swiffy-slider.min">
        <ul class="slider-container">
            <li><img src="../public/images/a.jpeg" style="max-width: 40%;height: auto;"></li>
            <li><img src="../public/images/d.jpeg" style="max-width: 40%;height: auto;"></li>
            <li><img src="../public/images/f.jpeg" style="max-width: 40%;height: auto;"></li>
            <li><img src="../public/images/c.jpeg" style="max-width: 40%;height: auto;"></li>
            
        </ul>
    
        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>
    
        <div class="slider-indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>


<!-------------------------------------FOOTER---------------------------------------------------->


    <footer>
      <section>
        <div class="instagram">
          <h2>INSTAGRAM</h2>
          <a
            href="https://www.instagram.com/8tiempos.danza?igsh=ZXNucXVtcHZteDQz"
            target="_blank"
          >
            <img
              class="insta"
              src="../public/images/insta.png"
              alt="instagram"
              width="20px"
            />
          </a>
        </div>

        <div>
          <h2>WHATSAPP</h2>
          <a href="https://wa.me/5491166670812" target="_blank"
            ><img
              class="WhatsApp"
              src="../public/images/whatsapp.png"
              width="20px"
            />
          </a>
        </div>

        <div>
          <h2>HORARIOS</h2>
          <h3>Martes y Jueves</h3>
          <h2>15:00 a 16:30 hs</h2>
        </div>
      </section>

      <p class="parrafo1" style="color: #5e5e55">
        Copyright © 1999-2022 Empresa Disquetera
      </p>
    </footer>
  </body>
</html>
