<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../public/css/login.css">
     <link rel="stylesheet" href="../public/css/portada.css">
     <link rel="stylesheet" href="../public/css/footers.css">
     <link rel="stylesheet" href="../public/css/stylegeneral.css">
    <title>Login</title>
</head>
<body>


<div class="fondo-oscuro">
  <div class="titulo">
    <img class="img" src="../public/images/logo8time.png" alt="">
    <h1 class="title">8 TIEMPOS - ESTUDIO DE DANZA</h1>
    <!--SOLO SE PUEDE UTILIZAR UNA VEZ, POR QUE SINO PENALIZA GOOGLE-->
  </div>

  <!-- SECCION DE NAVEGACION -->
  <nav class="navegacion">
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./galeria.html">Galeria</a></li>
        <li><a href="./nosotros.html">Historia</a></li>
        <li><a href="./login.html">Login</a></li>
  </nav>



    <div class="log log-card">
        <h1>Login</h1>
        <input type="text" class="log log-input" placeholder="Username">
        <input type="password" class="log log-input" placeholder="Contraseña">
        <button class="log log-button">Sign In</button>
        

    </div>



<!-----------------------FOOTER---------------------------------->


    <footer>

      <section>

        <div class="instagram">
         
          <h2>INSTAGRAM</h2>
          <a href="https://www.instagram.com/8tiempos.danza?igsh=ZXNucXVtcHZteDQz" target="_blank"> <img class="insta" src="../public/images/insta.png"  alt="instagram" width="20px">
          </a>

        </div>

        <div>
         
          <h2>WHATSAPP</h2>
          <a href="https://wa.me/5491166670812" target="_blank"><img class="WhatsApp" src="../public/images/whatsapp.png" width="20px">
          </a>

        </div>

        <div>
      
          <h2>HORARIOS</h2>
          <h3> Martes y Jueves</h3>
          <h2> 15:00 a 16:30 hs</h2>

        </div>

      </section>

      <p class="parrafo1" style="color:#5e5e55">Copyright © 8 Tiempos - Estudio de Danza 2025</p>

  </footer>
</div>


</body>
</html>