<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/login.css" />
        <link rel="stylesheet" href="../public/css/portada.css" />
        <link rel="stylesheet" href="../public/css/footers.css" />
        <link rel="stylesheet" href="../public/css/stylegeneral.css" />
        <title>Login</title>
    </head>
    <body>
        <header>
        </header>

        <div class="log">
            <h1>Login</h1>
            <input type="text" class="log-input" placeholder="Username" />
            <input type="password" class="log-input" placeholder="Contraseña" />
            <button class="log-button">Sign In</button>
        </div>

        <!-----------------------FOOTER---------------------------------->

        <footer>
        </footer>
        <script src="../layout.js"></script>
    </body>
</html>
