@media (max-width: 768px) {
    footer section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .insta,
    footer .WhatsApp {
        margin-left: 0;
        padding-left: 0;
    }
}



footer {
    width: 100%;
    min-height: 100px;
    font-family: 'Vollkorn', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding-top: 35px;
}

/* Secciones dentro del footer */
footer section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    color: #a59b9b;
    margin: 1px;
}

/* Títulos */
footer h2,
footer h3 {
    font-size: 1rem;
    color: #a59b9b;
    padding-left: 20px;
}

/* Iconos */
footer i {
    color:#a59b9b;
    font-size: 1rem;
    margin: 10px;
}

/* Estilos compartidos por imágenes de redes */
footer .insta,
footer .WhatsApp {
    padding-left: 20px;
    background-position: center;
    margin-left: 30px;
    width: 20px;
    height: auto;
}