
@media (max-width: 768px) {
    .titulo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img {
        margin: 0;
    }

    nav {
        justify-content: center;
    }

    p {
        margin: 20px;
        font-size: 1rem;
    }

    .imgen {
        padding-left: 0;
        width: 90%;
        margin: 10px auto;
    }

    .slider-container {
        left: 0;
        width: 100%;
    }

    .slider-nav {
        margin: 0 auto;
        text-align: center;
    }

    .tituloelonga,
    .elong,
    .acion {
        position: static;
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }
}

section:empty,
div:empty {
    display: none;
}

.cuadro {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.imgen {
   width: 400px;
}

p {
    color: #a59b9b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: italic;
    text-align: justify;
    line-height: 2;
    letter-spacing: 0;
    font-size: 0.8rem;
    padding: 20px 50px;
    margin: 20px 400px;
}

a {
    text-decoration: none;
    color: rgb(127, 191, 255);
    text-decoration: underline;
}

/*-----------------SECCION NOSOTROS-------------------*/

h1 {
    font-size: 19px;
    text-align: center;
    color: #a59b9b;
}



.parrafos p {
    font-size: 1rem;
    text-align: justify;
    padding: 20px;
    width: 900px;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom-style: solid;
}

.video3 {
    margin: 50px;
    display: flex;
    justify-content: center;
}

/*-----------------SECCION CARRUSEL-------------------*/

.slider-container {
    position: relative;
    left: 810px;
    width: 700px;
}

.slider-nav {
    margin-left: 500px;
    margin-right: 540px;
}

/*-----------------SECCION GALERIA-------------------*/



.ilustracion {
    width: 100%;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 40PX;


}

.tituloelonga {
    display: flex;
    justify-content: center;
    color: #a59b9b;
    position: relative;
    left: 390px;
    width: 290px;
    bottom: 550px; 
    
}

.elong {
    display: flex;
    justify-content: center;
    width: 350px;
    padding-left: 900PX;
}

.acion {
    display: flex;
    margin:0px;
    position: relative;
    text-align: justify;
    left: 330px;
    width: 400px;
    bottom: 550px; 

     
}

.log-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
    text-align: center;
}

