body{
    margin: 0;
    background-color:#a59b9b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(180deg, #1C1C1E, #262628);
    color: #a59b9b; 
    min-width: none;
    
}

