
/*

.barra{
   color: rgb(164, 71, 197);
   font-size: 1em;
   padding:10px;
   background-color: rgb(43, 50, 61);
   text-align: justify;
   border-bottom-style:solid;
   border-radius: 15px;
   
}*/


/*


.video1{
   
    padding-top: 10px;
    padding-left:450px;
    padding-bottom: 0.5px;
    margin: auto;
    border: 2px solid rgb(132, 79, 14);
    
  
}
.video2{
    padding-top: 10px;
    padding-left:450px;
    padding-bottom: 0.5px;
    margin: auto;
    
 }
 
 .video3{
    padding-top: 10px;
    padding-left:450px;
    padding-bottom: 0.5px;
    margin: auto;
    
 }*/
