
.titulo{
    
display: flex;
align-items: center;
padding: 10PX;
width: fit-content;
height: 100px auto 50px auto;
border-radius: 10px;


}

.img {
    margin: 2px 120px;
    width: 250px;
    border-radius: 35px;
    background-position: top;
    background-size: cover;
    
}


.title{
    color: aliceblue;
    font-size: 2em;
}



/*-----------------ESTA SECCION ES DE NAVEGACION----------------*/

nav{
    background-color: rgb(0, 0, 0);    
    position: relative;
    left: 1100px;
    width: 350px;
    height: auto;
    

} 

nav li{
    width: 100px;
    display: inline-block;
    text-align: center;
}

nav li a{
margin: 0;
color: rgb(218, 215, 220);
text-decoration: none;
font-size: 1em;
}

nav li a:hover{
    cursor:pointer;
    opacity: 35%;
    transition: opacity 0.3s ease;
}





li {
    display: grid;
    justify-content: center;
    align-items: center;
    }
